/* CSS untuk elemen timeline */
.timeline {
    display: flex;
    justify-content: flex-start; /* Pusatkan elemen-elemen */
    align-items: center;
    position: relative;
    overflow-x: auto; /* Membuat scroll horizontal jika terlalu banyak elemen */
    margin: 20px 0;
    padding: 0;
    white-space: nowrap; /* Agar semua elemen berada dalam satu baris */
}

.timeline-item {
    flex: 0 0 auto; /* Setiap elemen akan memiliki lebar yang sama */
    position: relative;
    border: 2px solid #e43c5c;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px; /* Jarak antara setiap elemen */
    width: 150px; /* Lebar dan tinggi kotak */
    height: 150px;
    white-space: normal; /* Kembalikan ke putih */
    transition: all 0.3s ease; /* Animasi efek hover */
}

/* Efek hover */
.timeline-item:hover {
    background-color: #e43c5c; /* Warna latar belakang ketika di hover */
    color: white; /* Warna teks ketika di hover */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Efek bayangan saat di hover */
}

.timeline-content p {
    margin: 5px 0;
}

.timeline-year {
    font-weight: bold;
}

.timeline-line {
    width: 0; /* Ubah lebar garis menjadi 0 */
    height: 0; /* Ubah tinggi garis menjadi 0 */
    background: #3498db;
    position: absolute;
    top: 50%; /* Posisikan di tengah vertikal */
    right: -10px; /* Jarak dari elemen timeline */
    transform: translateY(-50%); /* Posisikan di tengah vertikal */
    z-index: -1;
}

/* CSS untuk tampilan responsif */
@media (max-width: 768px) {
    .timeline {
        flex-direction: column;
        align-items: center; /* Pusatkan elemen-elemen di tengah pada tampilan mobile */
        white-space: normal; /* Kembalikan ke putih */
    }

    .timeline-item {
        flex: 0 1 100%;
        margin: 0 0 20px; /* Jarak antara setiap elemen */
        width: auto; /* Lebar kotak menyesuaikan kontennya */
        height: auto; /* Tinggi kotak menyesuaikan kontennya */
        padding: 20px; /* Ubah padding menjadi 20px */
    }

    .timeline-line {
        width: 0; /* Ubah lebar garis menjadi 0 */
        height: 0; /* Ubah tinggi garis menjadi 0 */
        top: 50%; /* Posisikan di tengah vertikal */
        left: 50%; /* Posisikan di tengah horizontal */
        transform: translate(-50%, -50%); /* Posisikan di tengah layar */
    }
}
