.iam {
    color: white;
    font-size: 55px;
    padding: 15px;
    font-family: sans-serif;
}
.texttype {
    color: white;
    border-right: 2px solid rgb(255, 252, 252);
    font-size: 55px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
